<h2>{{code}} Error</h2>
{{#if type1}}
    <p class="error">You must input a valid search term</p>
{{/if}}
{{#if type2}}
    <p class="error">No show with that ID was found</p>
{{/if}}
{{#if type3}}
    <p class="error">That route was not found.</p>
{{/if}}
{{#if type4}}
    <p class="error">{{text}}</p>
{{/if}}